{% block _search_book_title_widget %}
    {% spaceless %}
        <div class="titleArea">
            {{ block('textarea_widget') }}
            <div>
            <span>My personal message</span>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}